<div *ngIf="setModal">
    <div *ngIf="productDetail" class="modal fixed z-100 h-2/3 w-2/3 bg-red-400 top-32 right-60 px-20 py-10">
        <div class="w-56 h-32 ">
            <img [src]="productDetail.image">
        </div>
        <div>
            Name:{{productDetail.name}}
        </div>
        <div>
            Description:{{productDetail.description}}
        </div>
        <div>
            Price : {{productDetail.price}}
        </div>
        <button class="absolute top-5 right-5 w-9 h-9 bg-green-100 text-white" (click)="handleCancelModal()">
            x
        </button>
    </div>
</div>

<button routerLink='/addproduct' class="px-2 py-3 bg-red-400 text-white float-right mr-20">add</button>
<table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Id
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Name
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Image
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Description
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Price
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Quantity
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Status
            </th>
            <th scope="col" class="px-6  text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Action
            </th>
        </tr>
    </thead>
    <tbody *ngFor="let product of products; index as id " class="bg-white divide-y divide-gray-200">
        <tr>
            <td class="px-6 py-4 whitespace-nowrap">
                {{id+1}}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                    <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                            {{product.name}}
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <img class="h-20 w-20 " [src]="product.image" alt="">
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{product.description}}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{product.price}}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{product.quantity}}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    {{product.status ? 'Active' : 'Not Active'}}
                </span>


            </td>
            <td>
                <button class="px-3 py-1 bg-yellow-300 text-white mr-3"
                    (click)="onHandleClick(product.id)">delete</button>
                <button class="px-3 py-1 bg-yellow-300 text-white" (click)="onHandleDetail(product)">detail</button>
                <a routerLink="/product/edit/{{product.id}}" class="px-3 py-1 bg-yellow-300 text-white">Edit</a>
            </td>
        </tr>

        <!-- More people... -->
    </tbody>
</table>

<!-- modal detail product  -->